@import '../../../../styles.scss';

.card {
	border: 1px solid #cccccc;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	width: minmax(230px, 100%);

	&__image {
		width: 100%;
		height: fit-content;
	}

	&__product {
		&__name {
			font-size: 1rem;
			padding: 0.5rem;
		}

		&__price {
			font-size: .8rem;
			padding: 0 0.5rem 1rem;
		}
	}
}

@include media-md {
	.card {
		&__product {
			&__name {
				font-size: 1.4rem;
				padding: 1rem;
			}

			&__price {
				font-size: 1rem;
				padding: 0 1rem 1rem;
			}
		}
	}
}
