<section class="resume">
	<p class="resume__sections">Información del pedido</p>

	<p class="resume__sections">Producto(s)</p>

	<!-- Productos -->


	<p class="resume__sections">Contacto</p>
	<p>Nombre: </p>
	<p>Celular: </p>

	<p class="resume__sections">Entrega</p>
	<p>Dirección: </p>
	<p>Código postal: </p>

	<div class="resume__action-buttons">
		<button class="resume__confirm" type="button" (click)="onConfirmOder()">Confirmar</button>
		<button class="resume__cancel" type="button" (click)="onCancelOrder()">Cancelar</button>
	</div>
</section>
