<header class="mb-2">
	<nav class="navbar">
		<div class="navbar__logo">
			<a routerLink="">
				<img src="../../../assets/icons/Logo.svg" alt="Logo Dibeeren">
			</a>
		</div>
		<div class="navbar__small-menu">
			<button class="navbar__small-menu__cart btn-menu" (click)="navigateToCart()">
				<img src="../../../assets/icons/Vector.svg" alt="">
			</button>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" #navbarToggler>
				<span>
					<img src="../../../assets/icons/hambergermenu.svg" alt="">
				</span>
			</button>
		</div>
		<!-- Desktop Version Menu  -->
		<ul class="navbar__links">
			<li>
				<a class="nav-link active" aria-current="page" (click)="navigateTo('/')">Inicio</a>
			</li>
			<li>
				<a class="nav-link active" (click)="navigateTo('/catalog/products')">Productos</a>
			</li>
			<li class="navbar__links__cart" (click)="navigateTo('cart')">
				<img src="../../../assets/icons/Vector.svg" alt="">
				<a (click)="navigateTo('cart')">Carrito</a>
			</li>
		</ul>
		<!-- Responsive Menu List -->
		<div class="collapse navbar-collapse bg-light ps-3" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<ul class="navbar__movil">
					<li>
						<a (click)="navigateTo('/')">Inicio</a>
					</li>
					<li>
						<a (click)="navigateTo('/catalog/products')">Cátalogo</a>
					</li>
					<li>
						<a (click)="navigateTo('/cart')">Carrito</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
