@import '../../../../../styles.scss';

.card-item {

	&__wrapper {
		display: flex;
		gap: 1rem;
	}

	&__image {
		width: 35%;
		height: auto;
	}

	&__description {
		padding: 0.5rem 0;
		width: 65%;
		display: flex;
		flex-direction: column;

		&__additional {
			display: flex;
			gap: 1rem;
		}

		&__delete {
			margin-top: auto;
			cursor: pointer;
			width: fit-content;
		}
	}

	&__price {
		display: none;
	}
}

@include media-smd {
	.card-item {
		display: flex;
		justify-content: space-between;

		&__wrapper {
			width: 90%;
		}

		&__image {
			width: 150px;
			height: 150px;
		}

		&__description {
			width: 100%;
			max-width: 500px;

			&__name {
				font-size: 1.2rem;
			}

			&__additional {
				margin-top: 1.2rem;
			}

			&__price {
				display: none;
			}
		}

		&__price {
			display: block;
			padding-top: 0.5rem;
		}
	}
}

