<section class="more-information">
	<article class="col more-information__image-col	">
		<img class="more-information__img" src="../../../../../assets/images/product.png" alt="Product">
	</article>
	<article class="col more-information__content">
		<h3 class="more-information__title">Lorem ipsum dolor sit amet consectetur.</h3>
		<p class="more-information__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magnam, animi perferendis obcaecati, consequuntur illo dolorem suscipit cupiditate nemo quas, fugiat iusto fuga ea dignissimos?</p>
		<button class="more-information__cta">CTA Button</button>
	</article>
</section>
