<main class="product">
	<ng-container *ngIf="!this.isLoading; else loader">
		<section class="product__main">

			<article class="product__col">
				<img class="img-fluid" [src]="productImage"
				alt="{{ product.productName }}">
			</article>

			<section class="product__col">
				<div class="product__info">

					<h3 class="product__name">{{ product.productName }}</h3>
					<p class="product__price">${{ product.price }}</p>
					<p class="product__description">{{ product.description }}</p>

					<ng-container *ngIf="productHasColors">
						<div class="mt-2 mb-2">
							<p class="product__color__p">Moño</p>
							<div class="d-flex gap-3">
								<button class="product__color"
									*ngFor="let color of product.colors"
									(click)="onSelectedColor(color.colorImage)">
									<div class="product__color__display"
									[ngStyle]="{backgroundColor: color.colorValue}">
									</div>
								</button>
							</div>
						</div>
					</ng-container>

					<ng-container *ngIf="productHasQuantities">
						<div class="mt-2 mb-2">
							<p class="product__color__p">Piezas</p>
							<select class="form-select product__select">
								<option *ngFor="let quantity of product.quantities"
									[value]="quantity">{{ quantity }} Piezas</option>
							</select>
						</div>
					</ng-container>

					<button class="product__add-cart">Agregar al carrito</button>
				</div>
			</section>
		</section>
		<section>
			<app-other-products></app-other-products>
		</section>
	</ng-container>
	<ng-template #loader>
		<!-- TODO: Crear el placeholder cuando se carga la información del producto -->
	</ng-template>
</main>
