<footer class="footer pt-5 pb-5">
	<section class="footer__wrapper">
		<article class="footer-col footer__dibeeren">
			<!-- <img src="" alt="Logo Dibeeren"> -->
			<h3>Dibeeren</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dicta ipsam dolorum? Ex sed, eos accusantium facere repellendus molestiae! Adipisci!</p>
			<section class="footer__dibeeren__social-media">
				<p class="footer__dibeeren__social-media__header">Redes sociales</p>
				<ul class="footer__dibeeren__social-media__links">
					<li>
						<a href="">
							<img src="../../../assets/icons/facebook.svg" alt="facebook">
						</a>
					</li>
					<li>
						<a href="">
							<img src="../../../assets/icons/instagram.svg" alt="instagram">
						</a>
					</li>
				</ul>
			</section>
		</article>
		<article class="footer-col footer__links">
			<section class="col">
				<p class="footer__links__header">Links</p>
				<ul class="footer__links__body">
					<li>Link 1</li>
					<li>Link 2</li>
					<li>Link 3</li>
				</ul>
			</section>
			<section class="col">
				<p class="footer__links__header">Links</p>
				<ul class="footer__links__body">
					<li>Link 1</li>
					<li>Link 2</li>
					<li>Link 3</li>
				</ul>
			</section>
		</article>
		<article class="footer-col footer__contact">
			<p class="footer__contact__header">Contact</p>
			<section class="footer__contact__wrapper">
				<img src="../../../assets/icons/callreceived.svg" alt="phone icon">
				<a href="">Phone</a>
			</section>
		</article>
		<article class="footer-col footer__social-media">
			<p>Redes sociales</p>
			<ul class="footer__social-media__wrapper">
				<li>
					<a href="">
						<img src="../../../assets/icons/facebook.svg" alt="facebook">
					</a>
				</li>
				<li>
					<a href="">
						<img src="../../../assets/icons/instagram.svg" alt="instagram">
					</a>
				</li>
			</ul>
		</article>
	</section>
</footer>
