<main class="cart">
	<h2 class="fw-light">Carrito</h2>
	<ng-container *ngIf="(listCart$ | async)?.length !== 0; else emptyCart">
		<section class="cart__list-products">
			<app-card-item-cart *ngFor="let order of listCart$ | async; let i = index" [productOrder]="order"
				[indexItem]="i">
			</app-card-item-cart>
			<!-- <app-card-item-cart *ngFor="let order of listCart" [productOrder]="order"></app-card-item-cart> -->
		</section>
	</ng-container>
	<ng-template #emptyCart>
		<section class="cart__list-products__empty">
			<div>
				<p>Tu carrito está vacío</p>
				<button routerLink="/catalog/products" class="cart__more-products">Ver productos</button>
			</div>
		</section>
	</ng-template>
	<section class="cart__total">
		<div>
			<p class="mt-4 fw-normal">
				Subtotal: <span class="fw-bold">$ {{ getSubtotal() }}</span>
			</p>
			<button class="cart__confirm" type="button" (click)="onConfirmOrder()">
				Confirmar pedido</button>
		</div>
	</section>
</main>
