<section class="instructions">
	<h3 class="text-center mb-3">Instrucciones de pago</h3>
	<p class="fw-bolder mb-3">ID pedido: <span class="fw-normal">#123456</span></p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt minus iusto, aperiam assumenda velit quidem tempora eos ducimus nemo, doloremque modi a asperiores porro dolorum et, iure tenetur exercitationem.</p>

	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, soluta aliquid molestiae incidunt quo architecto nihil iusto sit consectetur beatae et magni quas sequi, iste odio laudantium itaque in dignissimos tenetur. Est amet, fugiat ratione maxime eveniet facilis impedit obcaecati incidunt ut vel eos harum, sequi ex? Explicabo, officia placeat.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusantium quibusdam rerum eum adipisci iste.</p>

	<button class="instructions__continue-btn" (click)="onKeepBuying()">Seguir comprando</button>
</section>
