<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main class="product">

	<h2 class="product__title">Lorem ipsum dolor sit</h2>

	<section class="product-table">
		<div class="product-table__filter">
			<p>Filtrar por: </p>
			<select class="form-select" [(ngModel)]="selectedCategory">
				<option value="">Todos los productos</option>
				<option *ngFor="let category of categoryProducts" [value]="category">{{ category }}</option>
			</select>
		</div>
		<div class="product-table__search">
			<input class="filter-input" type="text" [(ngModel)]="productFilter">
		</div>
	</section>
	<section class="catalogue__grid">
		<app-product-card
			*ngFor="let product of products | categoryFilter:selectedCategory | searchFilter: productFilter | paginate : { itemsPerPage: 6, currentPage: page }"
			[image]="product.image" [productName]="product.productName" [price]="product.price"></app-product-card>
	</section>
	<!-- <div class="container">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
			<ng-container *ngFor="let product of products | categoryFilter:selectedCategory | searchFilter: productFilter | paginate : { itemsPerPage: 6, currentPage: page }">
				<div class="col" >
					<app-product-card
						[image]="product.image" [productName]="product.productName"
						[price]="product.price"></app-product-card>
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Tarjeta 2</h5>
								<p class="card-text">Contenido de la tarjeta 2</p>
							</div>
						</div>
				</div>
			</ng-container>
		</div>
	</div> -->
	<footer class="product-table__footer">
		<pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel=""
			nextLabel=""></pagination-controls>
	</footer>
</main>
