@import '../../../../../styles.scss';

.product {
	width: min(100% - 2rem, 1200px);
	margin-inline: auto;

	&__title {
		margin: 2rem 0;
		text-align: center;
	}
}

.product-table {
	border-top: 2px solid $main;
	border-bottom: 2px solid $main;

	&__filter {
		margin: 1rem 0;

		p {
			margin-bottom: 0.5rem;
		}

		select {
			border: none;
			width: 100%;
			max-width: 200px;
		}
	}

	&__search {
		input {
			display: block;
			width: 100%;
			margin-bottom: 1rem;
			border: 1px solid $main;
			border-radius: 5px;
			padding: 5px 8px;
			outline: none;
		}

		button {
			display: block;
			width: 100%;
			background-color: $main;
			color: white;
			padding: 5px 0;
			border-radius: 5px;
			margin-bottom: 1rem;
		}
	}

	&__footer {
		margin-top: 1.2rem;
		width: 100%;
		display: grid;
		place-items: center;
	}
}

.btn-options {
	background-color: #DCDCDC;
	border-radius: 5px;
	padding: 0.5rem;
	display: flex;
	align-items: center;
}

.dropdown-menu {
	li {
		padding: 0.2rem 0.5rem;
	}
}

@include media-lg {
	.product-table {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__filter {
			display: flex;
			align-items: center;
			gap: 1rem;

			p {
				margin-bottom: 0;
				width: 150px;
			}
		}

		&__search {
			display: flex;
			align-items: center;
			gap: 1rem;

			input {
				width: 380px;
				margin-bottom: 0;
			}

			button {
				max-width: 100px;
				margin-bottom: 0;
			}
		}
	}
}


.catalogue {
	&__grid {
		margin: 2rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit,
				minmax(230px, 1fr));
		gap: 1rem;
	}
}

.my-pagination ::ng-deep .ngx-pagination .current {
	background: $main;
	border-radius: 50%;
	padding: 5px 10px;
	color: white;
}

.my-pagination ::ng-deep .ngx-pagination li :hover {
	background: none;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after {
	color: black;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before {
	color: black;
}
